@mixin amanda-section__header
    font-size: 5.91rem
    font-weight: 600
    line-height: 6rem
    padding-bottom: 4rem
    position: relative
    margin-bottom: 3.7rem
    letter-spacing: -0.15rem

    &:after
        content: ''
        position: absolute
        bottom: 0.2rem
        left: -0.1rem
        height: 0.6rem
        width: 9.7rem
        background-image: linear-gradient(to right, #1f8fa0, #63b86c 83%)

@mixin amanda-section__header-color
    color: #4caa7e

@mixin amanda-section__text
    font-size: 3.77rem
    line-height: 1.3em
    max-width: 76.8rem
    font-weight: 400
    letter-spacing: -0.09rem

@mixin amanda-section__explote-btn
    margin-top: 3.7rem
    min-width: 28rem

.amanda-section

    &__bg
        @extend %section-bg

    &__header
        @include amanda-section__header

    &__header-color
        @include amanda-section__header-color

    &__text
        @include amanda-section__text

    &__explote-btn
        @include amanda-section__explote-btn