extends partials/layout

block vars
	- var title = "GREATEST page ever"
	- var navigation = "index"

block content
	.blackshadow
	.hero-section.app-full-page
		.app-page-bg
			.hero-section__bg
				img(src="img/bg/hero-bg.png", alt="").bg-image
		.container
			.main-logo
				a(href="#", title="title")
					img(src="img/icons/main-logo.png", alt="Money Token")
			.hero-section__sub-header.
				MoneyToken
			.hero-section__main-header.
				Smart loans backed 
				#[br]
				by crypto assets.
			.hero-section__button-group
				a.hero-section__button.app-button.app-button_primer(href="#applyforpresale") Appy for pre sale
				a.hero-section__button.app-button.app-button_primer(href="#signin") Sign in
			.hero-section__button-group
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image_pdf(href="#whitepaper") Whitepaper
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image_pdf(href="#onepager") Onepager
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image_github(href="#github") Github

	.intro-video-section.app-full-page
		.container
			.intro-video-section__video-holder
				.intro-video-section__video
					video#main_vid(poster='img/content/video-poster.jpg')
						source(src='video/money_token.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				.intro-video-section__button.app-button.app-button_primer Play Video

	.cash-section.app-full-page
		.container
			.cash-section__content
				.cash-section__title Get cash in any currency anytime and anywhere 
				ul.cash-section__list
					li.cash-section__list-item Card balance in USD 
					li.cash-section__list-item Fast and easy loan cash-in
					li.cash-section__list-item Repay your loan
				.cash-section__image
					img(src="img/content/credit-cards.png", alt="")
				a(href="#", title="title").cash-section__button.app-button.app-button_primer Preorder	

	.slider-section.app-full-page
		.container
			.slider-section__title MoneyToken
				span.slider-section__title-small —  platform for short term loans in stable currencies with high growth crypto assets as a collateral.
			.slider-section__slider(data-js="slider").owl-carousel.owl-theme
				.item
					.image-holder.slider-section__image
						img(src="img/content/slider-image-1.svg", alt="")
				.item
					.image-holder.slider-section__image
						img(src="img/content/slider-image-2.svg", alt="")

	.interested-section.app-full-page
		.app-page-bg.app-page-bg_direction_end
			.interested-section__bg
				img(src="img/bg/interested-section_bg.png", alt="").bg-image
		.container
			.interested-section__header Who is interested?
			ul.interested-section__list
				li.interested-section__list-item
					.interested-section__list-block
						.interested-section__item-image
							img(src="img/icons/interested_1.png", alt="")
						.interested-section__block-text
							.interested-section__item-title Miners
							.interested-section__item-text Overcome cash gaps while mining with-#[br]out losing coins and possibly selling them #[br] for a better price
				li.interested-section__list-item
					.interested-section__list-block
						.interested-section__item-image
							img(src="img/icons/interested_2.png", alt="")
						.interested-section__block-text
							.interested-section__item-title Trades and investors
							.interested-section__item-text Keep cryptocurrency portfolio and get leverage for other investments or cash for business needs
				li.interested-section__list-item
					.interested-section__list-block
						.interested-section__item-image
							img(src="img/icons/interested_3.png", alt="")
						.interested-section__block-text
							.interested-section__item-title ISOs
							.interested-section__item-text Fast and easy cash in for short term busi-#[br]ness needs
				li.interested-section__list-item
					.interested-section__list-block
						.interested-section__item-image
							img(src="img/icons/interested_4.png", alt="")
						.interested-section__block-text
							.interested-section__item-title Small/Medium exchanges	
							.interested-section__item-text Meet extra cash needs while hedging exchange risks and therefore provide #[br] better service for new and existing clients
	
	.amanda-section.section_white.app-full-page
		.app-page-bg
			.amanda-section__bg
				img(src="img/bg/amanda-section_bg.jpg", alt="").bg-image
		.container
			.amanda-section__header Who is 
				span.amanda-section__header-color Amanda

			.amanda-section__text Amanda is an Artificial Intelligence Assistant who will provide automated loan operations to showcase MoneyToken’s platform functionality before the official platform launch
			a(href="#", title="title").app-button.app-button_primer.amanda-section__explote-btn EXPLORE AMANDA

	.join-section.app-full-page
		.app-page-bg
			.join-section__bg
				img(src="img/bg/join-section_bg.jpg", alt="").bg-image
		.container
			.join-section__content
				.join-section__main-header.
					Join us
				ul.join-section__socials-list
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_telegram.png", alt="")
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_m.png", alt="")
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_facebook.png", alt="")
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_twitter.png", alt="")
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_bilb.png", alt="")
					li.join-section__socials-item
						a(href="#", title="title").join-section__socials-link
							img(src="img/icons/socials-list_talk.png", alt="")

				a(href="info@moneytoken.com", title="title").join-section__info info@moneytoken.com

				.join-section__sign-up
					.join-section__form-group
						label(for="#34").join-section__form-label Sign up for the MoneyToken news:
						form(action="").join-section__form
							input(type="text" id="34", placeholder="Enter your e-mail").join-section__form-input
							button.join-section__send-btn
						
				.join-section__footer
					.join-section__limited MONEY TOKEN LIMITED
					a(href="#", title="title").join-section__terms Terms and conditions
