extends partials/layout

block vars
	- var title = "GREATEST page ever"
	- var navigation = "index"

block content
	.container
		h1 index.pug
		.demo-block
			div col-6
			div col-6
	.hero-section
		.hero-section__sub-header.
			MoneyToken
		.hero-section__main-header.
			Smart loans backed 
			#[br]
			by crypto assets
		.hero-section__buttons-holder
			a.hero-section__button(href="#applyforpresale") Apply for pre sale
			a.hero-section__button(href="#signin") Sign in
		.hero-section__buttons-holder
			a.hero-section__button(href="#whitepaper") Whitepaper
			a.hero-section__button(href="#onepager") Onepager
			a.hero-section__button(href="#github") Github

	.intro-video-section
		.intro-video-section__video-holder
			.intro-video-section__video
				video(src="#")
			.intro-video-section__button
