extends partials/layout

block vars
	- var title = "GREATEST page ever"
	- var navigation = "index"

block content
	.container
		
	.hero-section.full-page
		.container
			.hero-section__sub-header.
				MoneyToken
			.hero-section__main-header.
				Smart loans backed 
				#[br]
				by crypto assets.
			.hero-section__button-group
				a.hero-section__button.app-button.app-button_primer(href="#applyforpresale") Appy for pre sale
				a.hero-section__button.app-button.app-button_primer(href="#signin") Sign in
			.hero-section__button-group
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image-pdf(href="#whitepaper") Whitepaper
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image-pdf(href="#onepager") Onepager
				a.hero-section__button.hero-section__button_image.app-button.app-button_transparent.app-button_image.app-button_image-github(href="#github") Github

	.intro-video-section
		.intro-video-section__video-holder
			.intro-video-section__video
				video(src="#")
			.intro-video-section__button
